.App {
  font-family: Arial, sans-serif;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  display: flex;
  flex: 1;
}

.side-panel {
  flex: 0 0 300px;
  display: flex;
  flex-direction: column;
  transition: width 0.3s;
}

.center-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.side-panel.collapsed {
  flex: 0 0 60px;
}
